<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<div class="body">

    <div class="titulo">
        <h2 style="float: left; margin-top: 10px;">Configuracion Cuenta</h2>
      </div>
    
    <br>
    
    <div class="card" layout="column"  >
        
        <div class="card-body">
          
          <mat-form-field style="width: 80%;">
            <mat-label>Nombre</mat-label>
            <input matInput    name="nombre"   maxlength="50" autocomplete="off" />
          </mat-form-field>
       
         
          <mat-form-field style="width: 80%;">
            <mat-label>descripcion</mat-label>
            <input matInput   name="descripcion" type="text"  autocomplete="off"  />
          </mat-form-field>
         
          
          <div style="display: flex; flex-direction: row;width: 70%;max-height: 15%;">
            
            <button mat-icon-button   style="margin-left: 1%;">
              <mat-icon>attach_file</mat-icon>
            </button>
    
          </div>
    
          
            
          
        </div>
      </div>
      <div class="card-header position-sticky sticky-top" style="margin:2%;background-color:rgb(255, 255, 255);top: -25px;">
        
        <button mat-button class=" btn btn-danger"   >
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-button class=" btn btn-success"   >
            <mat-icon>done</mat-icon>
        </button>
        
      </div>
    
    
    
    
   

</div>
