<div class="login">
    <form class="custom-form" method="post">
      <h1>GameStore</h1>
      <input
        type="text"
        [(ngModel)]="email"
        name="Usuario"
        placeholder="Usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="Contraseña"
        placeholder="Contraseña"
        required="required"
      />
      <button mat-button (click)="login()" textContent="Ingresar">Ingresar</button>
      <button mat-button (click)="registrar()" textContent="Registrarse" style="margin-top: 5%;">Registrarse</button>
     
    </form>
  </div>
