* {
    box-sizing: border-box;
    
  }
  html,
  body {
    background: #ecf0f3;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .login{
    
  }
  .custom-form {
    min-width: 300px;
    max-width: 23%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: rgb(103, 78, 131);
    
    color: black;
    margin-top: 10rem;
    text-align: center;
  }
  .custom-form input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    
    background: aliceblue;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #323131;
    font-weight: bold;
    background-color:aliceblue;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    
    cursor: pointer;
  }