<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <div class="example-container">

    <mat-sidenav-container class="mat-sidenav-container" >


       <!-- Menu izquierdo expansivo, se encuentra oculto originalmente -->
      <mat-sidenav class="MenuExpansible" #sidenav mode="side"(click)="sidenav.toggle()">

        <button mat-button class="MenuButton"  routerLink="" (click)="home()">
         <mat-icon style="color:rgb(252, 232, 179);">home</mat-icon>
         <span>Inicio</span>
         </button>
         
        <button mat-button class="MenuButton"  routerLink="" (click)="cuenta()" >
          <mat-icon style="color:rgb(252, 232, 179);">perm_identity</mat-icon>
          <span>Cuenta</span>
        </button>

       <button mat-button  class="MenuButton" (click)="login()">
         <mat-icon style="color: rgb(252, 232, 179);">login</mat-icon>
         <span>Log out</span>
       </button>
      </mat-sidenav>
  
      
   
      <mat-sidenav-content>

        <!-- Menu Toolbar de la pagina -->
        
        <mat-toolbar color="primary" class="example-toolbar">

         

          <button mat-button (click)="sidenav.toggle()" style="float: left;" title="Menu">
            <mat-icon>dashboard</mat-icon>
          </button>
          <p style="margin-top: 1%;">{{username}}</p>


          <button mat-button class="btn-buy" title="carrito" (click)="DetalleCarritoModal()" >
            <mat-icon style="color: rgb(0, 0, 0);margin-right: 0.5%;">shopping_cart</mat-icon>
         </button>
         <p style="margin-top: 1%;">{{acumulador| euros}}</p>

         
          
          <img src="../../../../assets/logo_barra.jpg" class="img-logo" >
          <p class="example-spacer" >GameStore</p>
          
        </mat-toolbar>

          <!-- Div de los menu de botones -->
        <div class="divbuttonmenu" *ngIf="boleancarrusel">

           <!-- DropDown de VideoJuegos -->
          <div class="btn-group" >
            <button mat-button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
            style="border: 1px black solid;margin-left: 1%;" [routerLink]="['homeVideojuegos','pf000']" >
            <mat-icon style="color:rgb(182, 23, 23);">games</mat-icon>
              VideoJuegos
            </button>
                <ul class="dropdown-menu noclose">
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf003']" >PlayStation 5</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf004']">PlayStation 4</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf002']">Xbox one</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf001']">Xbox 360</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf005']">Nintendo Wii</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf006']">Antiguos</button>
                    </li>
                    
                </ul>
           </div>

           <!-- DropDown de Consolas -->
           <div class="btn-group" >
            <button mat-button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
            style="border: 1px black solid;margin-left: 1%;min-width: 15%;" >
            <mat-icon style="color:rgb(144, 39, 39);">videogame_asset</mat-icon>
              Perifericos
            </button>
                <ul class="dropdown-menu noclose">
                    <li>
                      <button mat-button [routerLink]="['homeVideoConsolas', 'mc001']">Sony</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideoConsolas', 'mc002']">MicroSoft</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideoConsolas', 'mc003']">Steam</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideoConsolas', 'mc004']">Nintendo</button>
                    </li>
                </ul>
           </div>
          
    
           <!-- DropDown de Accesorios -->
           <div class="btn-group" >
            <button mat-button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
            style="border: 1px black solid;margin-left: 1%;" >
            <i class="bi bi-headset" style="color:rgb(144, 39, 39);margin-right: 3%;" ></i>
            Accesorios
            </button>
                <ul class="dropdown-menu noclose">
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf003']" >Mouse</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf004']">Teclados</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf002']">Audifonos</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf001']">Mandos</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf005']">Pantallas</button>
                    </li>
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf006']">otros</button>
                    </li>
                    
                </ul>
           </div>
        
           

           <!-- DropDown de Moviles -->
          <div class="btn-group"  >
            <button mat-button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
            style="border: 1px black solid;margin-left: 1%;" >
            <i class="bi bi-phone-fill" style="color:rgb(144, 39, 39);" ></i>
            
              Moviles
            </button>
                <ul class="dropdown-menu noclose" style="margin-top: 30%;">
                    <li>
                      <button mat-button [routerLink]="['homeVideojuegos', 'pf003']" >Samsung</button>
                    </li>
                    <li>
                      <button mat-button  [routerLink]="['homeVideojuegos', 'pf004']" >Apple</button>
                    </li>
                    <li>
                        <button mat-button [routerLink]="['homeVideojuegos', 'pf005']" >Gamers</button>
                    </li>
                </ul>
           </div>




        </div>


          <!-- Div del carrusel de imagenes -->
        <div  class="divCarrusel" *ngIf="boleancarrusel" >
          <ngb-carousel [interval]="1500" [animation]="true">

            <ng-template ngbSlide>
                <img src="../../../../assets/utils/banner4.jpg" alt="Random first slide"  class="imgCarrusel">
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../../assets/utils/banner5.jpg" alt="Random second slide"  class="imgCarrusel" />
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../../assets/utils/banner6.jpg" alt="Random third slide"  class="imgCarrusel" />
            </ng-template>
          
          </ngb-carousel>
      </div>
      
        
          
        

          <!-- Pagina a la que se llama -->
        <router-outlet (click)="sidenav.toggle()" style="margin-top: 3%;margin-bottom: 10%;"></router-outlet>

        <footer  class="footer" >
          <div class="btnFooter">
          <a href="https://es-es.facebook.com/" title="Facebook"><i class="bi bi-facebook" style="color: black;margin-right: 2%;"></i></a>
          <a href="https://es-es.facebook.com/"  title="Instragram"><i class="bi bi-instagram" style="color: black;margin-right: 2%;"></i></a>
          <a href="https://es-es.facebook.com/"  title="Twitter"><i class="bi bi-twitter" style="color: black;margin-right: 2%;"></i></a>
          <a href="https://es-es.facebook.com/" title="Twitch"><i class="bi bi-twitch" style="color: black;margin-right: 2%;"></i></a>
         </div>
          
        </footer>
      </mat-sidenav-content>
   
     
    
    </mat-sidenav-container>
  
  </div>


