<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <div class="example-container">

    <mat-sidenav-container class="mat-sidenav-container" >

      <mat-sidenav class="MenuExpansible" #sidenav mode="side"(click)="sidenav.toggle()">

        <button mat-button class="MenuButton"  routerLink="homeVideojuegos">
         <mat-icon style="color:rgb(252, 232, 179);">games</mat-icon>
         <span>VideoJuegos</span>
         </button>
         
        <button mat-button class="MenuButton" routerLink="homeVideoConsolas">
          <mat-icon style="color:rgb(252, 232, 179);">videogame_asset</mat-icon>
          <span>Consolas</span>
        </button>


        
        <button mat-button class="MenuButton">
          <mat-icon style="color:rgb(252, 232, 179);">account_circle</mat-icon>
          <span>Accesorios</span>
        </button>

       <button mat-button  class="MenuButton" (click)="login()">
         <mat-icon style="color: rgb(252, 232, 179);">login</mat-icon>
         <span>Log out</span>
       </button>
      </mat-sidenav>
  
      
   
      <mat-sidenav-content>
        
        <mat-toolbar color="primary" class="example-toolbar">

         

          <button mat-button (click)="sidenav.toggle()" style="float: left;"><mat-icon>home</mat-icon></button>
          <p>{{username}}</p>
          <button mat-button class="btn-buy" title="carrito" (click)="DetalleCarritoModal()" >
            <mat-icon style="color: black;margin-right: 2%;">shopping_cart</mat-icon>
            <p style="margin-left: 1%;">{{acumulador| number: '1.2-2'}}</p>
         </button> 

          <img src="../../../../assets/logo_barra.jpg" class="img-logo" >
          <p class="example-spacer" >GameStore</p>
          
        </mat-toolbar>
        
        
        <router-outlet (click)="sidenav.toggle()"></router-outlet>
      </mat-sidenav-content>
   
  
    
    </mat-sidenav-container>
  
  </div>


