<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <div class="example-container">

    <mat-sidenav-container class="mat-sidenav-container" >


       <!-- Menu izquierdo expansivo, se encuentra oculto originalmente -->
      <mat-sidenav class="MenuExpansible" #sidenav mode="side"(click)="sidenav.toggle()">

        <button mat-button class="MenuButton"  routerLink="" (click)="home()">
         <mat-icon style="color:rgb(252, 232, 179);">home</mat-icon>
         <span>Inicio</span>
         </button>
         
        <button mat-button class="MenuButton" >
          <mat-icon style="color:rgb(252, 232, 179);">perm_identity</mat-icon>
          <span>Cuenta</span>
        </button>

       <button mat-button  class="MenuButton" (click)="login()">
         <mat-icon style="color: rgb(252, 232, 179);">login</mat-icon>
         <span>Log out</span>
       </button>
      </mat-sidenav>
  
      
   
      <mat-sidenav-content>

        <!-- Menu Toolbar de la pagina -->
        
        <mat-toolbar color="primary" class="example-toolbar">

         

          <button mat-button (click)="sidenav.toggle()" style="float: left;">
            <mat-icon>dashboard</mat-icon>
          </button>
          <p style="margin-top: 1%;">{{username}}</p>


          <button mat-button class="btn-buy" title="carrito" (click)="DetalleCarritoModal()" >
            <mat-icon style="color: black;margin-right: 0.5%;">shopping_cart</mat-icon>
         </button>
         <p style="margin-top: 1%;">{{acumulador| number: '1.2-2'}}</p>

          <img src="../../../../assets/logo_barra.jpg" class="img-logo" >
          <p class="example-spacer" >GameStore</p>
          
        </mat-toolbar>

          <!-- Div de los menu de botones -->
        <div class="divbuttonmenu">
        <button mat-button [matMenuTriggerFor]="vjmenu" style="border: 1px black solid;">
          <mat-icon style="color:rgb(144, 39, 39);">games</mat-icon>
          VideoJuegos</button>
          <mat-menu #vjmenu="matMenu">
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf003']" >PlayStation 5</button>
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf004']">PlayStation 4</button>
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf002']">Xbox one</button>
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf001']">Xbox 360</button>
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf005']">Nintendo Wii</button>
            <button mat-menu-item [routerLink]="['homeVideojuegos', 'pf006']">Antiguos</button>

          </mat-menu>

          <button mat-button [matMenuTriggerFor]="vcmenu" style="border: 1px black solid;margin-left: 1%;">
            <mat-icon style="color:rgb(144, 39, 39);">videogame_asset</mat-icon>
            Perifericos</button>
          <mat-menu #vcmenu="matMenu">
            <button mat-menu-item routerLink="homeVideoConsolas">PlayStation 5</button>
            <button mat-menu-item routerLink="homeVideoConsolas">PlayStation 4</button>
            <button mat-menu-item routerLink="homeVideoConsolas">Xbox one</button>
            <button mat-menu-item routerLink="homeVideoConsolas">Xbox 360</button>

          </mat-menu>
        </div>

          <!-- Div del carrusel de imagenes -->
        <div  class="divCarrusel" *ngIf="boleancarrusel">
          <ngb-carousel [interval]="1500" [pauseOnHover]="true">

            <ng-template ngbSlide>
                <img src="../../../../assets/utils/carrusel1.jpg" alt="Random first slide"  class="imgCarrusel">
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../../assets/utils/carrusel2.jpg" alt="Random second slide"  class="imgCarrusel" />
            </ng-template>
            <ng-template ngbSlide>
                <img src="../../../../assets/utils/carrusel3.jpg" alt="Random third slide"  class="imgCarrusel" />
            </ng-template>
          
          </ngb-carousel>
      </div>

      

          <!-- Pagina a la que se llama -->
        <router-outlet (click)="sidenav.toggle()" style="margin-top: 3%;"></router-outlet>
      </mat-sidenav-content>
   
  
    
    </mat-sidenav-container>
  
  </div>


