<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


<div class="body">
  <audio #audioPlayer autoplay></audio>
    <div class="example-header">
     
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          
        </mat-form-field>
        <button mat-raised-button (click)="agregar()" style="margin-left: 2%;min-width: 8%;">Agregar</button>
        <button mat-raised-button (click)="downloadPdf()" style="margin-left: 2%;">PDF</button>
        <button mat-raised-button (click)="downloadExcel()" style="margin-left: 2%;">Excel</button>
        
    </div>
      <div class="tableDiv">
    <mat-table #table [dataSource]="dataSource" class="table" >
  
      
      
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef style="max-width: 10%;margin-left: 5px;"> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 10%;margin-left: 5px;"> {{element.nombre| uppercase}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="precio" >
        <mat-header-cell *matHeaderCellDef style="max-width: 10%;"> Precio </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 10%;"> 
          {{element.precio| number:'1.2-2'|currency:"EUR"}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="genero" >
        <mat-header-cell *matHeaderCellDef style="max-width: 10%;"> genero </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 10%;"> 
          {{element.genero.nombre}}  </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="plataformas">
        <mat-header-cell *matHeaderCellDef style=" word-wrap: break-word;"> Plataformas </mat-header-cell>
        <mat-cell *matCellDef="let element" > 
       {{ element.plataformas|plataformPipe}}
         
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="img">
        <mat-header-cell *matHeaderCellDef> Portada </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <img src={{getimagen(element.img)}} class="imgTabla">
        </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-right: 1%;"> 
        
        <button mat-button class="btn" title="editar" (click)="edit(element)">
          <mat-icon style="color: black;">edit</mat-icon>
        </button> 
        <button mat-button class="btn" title="detalles" (click)="detalle(element)">
            <mat-icon style="color: #3f51b5;">visibility</mat-icon>
        </button>
        <button mat-button class="btn" title="eliminar"  (click)="delete(element)">
            <mat-icon style="color: red;">delete</mat-icon>
        </button>
        
        </mat-cell>
      </ng-container>
  
      
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator  #paginator
                 [pageSize]="3"
                 [pageSizeOptions]="[3, 7, 10]"
                 [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
  </div>
