<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<p>Pagina Quimicos</p>

<div class="example-container mat-elevation-z8">

    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
          
        </mat-form-field>
        <button mat-raised-button (click)="agregar()" style="margin-left: 2%;">Agregar</button>

      </div>
      
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Peso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} kg </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Simbolo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> options </mat-header-cell>
        <mat-cell *matCellDef="let element"> 

        <button mat-button style="height: 25px; position: static;background: transparent;border: none;padding-top: 5px;vertical-align: text-top;">
          <mat-icon style="color: black;">edit</mat-icon>
        </button> 
        <button mat-button class="consultar" 
            style="height: 25px; position: static;background: transparent;border: none;padding-top: 5px;padding-left: 10%;vertical-align: text-top;">
            <mat-icon style="color: #3f51b5;">visibility</mat-icon>
        </button>
        <button mat-button style="height: 25px;position: static;color: red;border: none;background: transparent;padding-top: 5px;padding-left: 10%;vertical-align: text-top;">
            <mat-icon>delete</mat-icon>
        </button>
        
        </mat-cell>
      </ng-container>
  

    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
