<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<div class="body" style="background-color:rgb(228, 220, 221) ;">

<div class="figure">
    <div class="card" >
        <figure class="figura" >
            <img class="portada" src="../../../../../assets/Consolas/{{x.img}}" > 
        </figure>
    </div>

    <div class="descripcion">
        <h3> Titulo: {{x.nombre}}</h3>
        
        <h3> Precio: {{x.precio}}</h3>
        
        <h3> descripcion: {{x.descripcion}}</h3>
        
        <h3> Plataformas: {{x.plataforma.nombre}}</h3> 

        <h3> Marca: {{x.marca}}</h3> 

        
        <div class="buttons">
        
            <button mat-button class="btn-buy" title="agregar" *ngIf="tipo!=2" (click)="cargar()">
                <mat-icon style="color: black;">shopping_cart</mat-icon>
            </button> 
            <button mat-button class="btn-buy" title="eliminar" *ngIf="tipo==1"  (click)="quitar(x)">
                <mat-icon style="color: black;">remove_shopping_cart</mat-icon>
                
            </button> 
            <button mat-button class=" btn-buy" (click)="cerrar()" style="float: right;" >
                <mat-icon>exit_to_app</mat-icon>
            </button>
    
        </div>

    </div>


</div> 
    

</div>


