.example-container {
    display: flex;
    flex-direction: column;
    
    
  }
  .btn{
    background-color: aliceblue;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .example-header {
    min-height: 64px;
    width: 90%;
    padding: 8px 24px 0;
  }

  .portada{
    width: 60%;
    height:90%;
    max-height: fit-content;
}
