<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


<div class="example-container mat-elevation-z8" >
   <h3 style="margin-left: 2%;margin-top: 2%;">Carrito de compras</h3>
    <div class="example-header">
        <mat-form-field  >
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" style="padding:  0 0 0 0">
        </mat-form-field>
        <button mat-button class="btn"  style="margin-left: 2%;" (click)="formCompra()" title="Pagar"><mat-icon>payment</mat-icon></button>
        <button mat-button  class="btn" style="margin-left: 2%;float: right;" (click)="close()" title="Salir"><mat-icon>exit_to_app</mat-icon></button>

    </div>
      
    <mat-table #table [dataSource]="dataSource" >
  
      <ng-container matColumnDef="Id"  >
        <mat-header-cell *matHeaderCellDef style="max-width: 10%"> Id </mat-header-cell>
        <mat-cell *matCellDef="let pv" style="max-width: 10%"> {{pv.productosVentaPk.proId}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef >  Nombre </mat-header-cell>
        <mat-cell *matCellDef="let pv" > {{pv.nombre}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <mat-header-cell *matHeaderCellDef style="max-width: 10%" > Precio </mat-header-cell>
        <mat-cell *matCellDef="let pv" style="max-width: 10%"> {{pv.precio|euros}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef style="max-width: 10%"> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let pv" style="max-width: 10%"> {{pv.cantidad}}  </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="portada">
        <mat-header-cell *matHeaderCellDef > Portada </mat-header-cell>
        <mat-cell *matCellDef="let pv" ><img class="portada" src="../../../../../assets/PortadasVj/{{pv.img}}">  </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef > Opciones </mat-header-cell>
        <mat-cell *matCellDef="let pv" > 

        <button mat-button class="btn-edit" title="edit" (click)="edit()">
          <mat-icon style="color: black;">edit</mat-icon>
        </button> 
        <button mat-button class="btn-detalle" title="open" (click)="detalle(pv)">
            <mat-icon style="color: #3f51b5;">visibility</mat-icon>
        </button>
        <button mat-button class="btn-delete" title="close"  (click)="delete(pv)">
            <mat-icon style="color: red;">delete</mat-icon>
        </button>
        
        </mat-cell>
      </ng-container>
  

    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="height: 130px"></mat-row>
    </mat-table>
</div>
