.body{
   
}


.portada{
    width: 90%;
    height: 90%;
}

.card{
    max-height: 60%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 2%;
     
}

.card:hover{
    opacity: 70%;
    
}

.descrip{
    margin-left: 30%;
}

.figura{
    justify-content: center;
    
    max-height: 90%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.buttons{
    margin-top: 2%;
    float: right;
}