<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<div class="body">
<br>
<div class="footer">
    <h1 style="margin-left: 2%;">VideoJuegos Disponibles</h1>
    <mat-form-field style="margin-left: 5%;">
        <input matInput [(ngModel)]="Nombrefiltrer" (keyup)="applyFilter()" placeholder="Filtrar por nombre"> 
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectGenero">
        <mat-select placeholder="Marca" [(ngModel)]="SelectionMarca" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let gen of MarcaList" value="{{gen.nombre}}">
                {{gen.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectPlata">
        <mat-select placeholder="Precios" [(ngModel)]="SelectionPrecio" (selectionChange)="applyFilter()" >
            <mat-option  value=0>
                
            </mat-option>
            <mat-option  value=1>
             menor a 1000
            </mat-option>
            <mat-option  value=2>
                entre 1000 y 2000
            </mat-option>
            <mat-option  value=3>
                mayor a 2000
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button  (click)="clearFilter()" style="margin-left: 2%;" >
        <mat-icon style="color: black;">clear_all</mat-icon>
    </button> 

   
</div>
<mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile class="grilla" 
        *ngFor="let tile of tiles"
        [colspan]="1"
        [rowspan]="2"
        
        >

        <div class="card" style="background-color:rgb(228, 220, 221) ;" (click)="DetalleModal(tile)">
            <figure class="figura" >
                <img class="portada" src="{{tile.img}}" >
                <br>
                <div class="descrip">
                    {{tile.nombre}}
                    <br>
                    {{tile.precio}} €
                </div>
                
                
            </figure>
            

        </div>
       
      
      
    </mat-grid-tile>
  </mat-grid-list>

</div>