<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<div class="d-flex justify-content-center align-items-center" style="margin-top: 2%;" *ngIf="preloaderTime" 
>

    <img src="../../../../assets/utils/pacman.gif" alt="pacman andando" style="width: 300px;height: 220px;"> 
    
  
</div>
<div class="body" *ngIf="!preloaderTime">
<br>
<div class="footer">
    <h1 style="margin-left: 2%;">Perifericos</h1>
    <mat-form-field style="margin-left: 5%;">
        <input matInput [(ngModel)]="Nombrefiltrer" (keyup)="applyFilter()" placeholder="Filtrar por nombre"> 
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectGenero">
        <mat-select placeholder="Marca" [(ngModel)]="SelectionMarca" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let gen of MarcaList" value="{{gen.idMarca}}">
                {{gen.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectPlata">
        <mat-select placeholder="Precios" [(ngModel)]="SelectionPrecio" (selectionChange)="applyFilter()" >
            <mat-option  value=1>
                > 1000
            </mat-option>
            <mat-option  value=2>
                entre 1000 y 2000
            </mat-option>
            <mat-option  value=3>
                  < 2000
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button  (click)="clearFilter()" style="margin-left: 2%;" >
        <mat-icon style="color: black;">clear_all</mat-icon>
    </button> 

   
</div>
<div style="margin: 2%;width: 90%;"><mat-grid-list cols="5" rowHeight="250px" gutterSize="10px">
    <mat-grid-tile class="grilla" 
        *ngFor="let tile of tiles"
        [colspan]="1"
        [rowspan]="1"
        
        >

        <div class="card" style="height: 100%; 
        ;" (click)="DetalleModal(tile)">
            
                <img class="portada" src="../../../../assets/Consolas/{{tile.img}}" >
                
                <div class="descrip">
                    {{tile.nombre}}
                    <br>
                    {{tile.precio}} €
                </div>
        </div>
       
    </mat-grid-tile>
  </mat-grid-list>
</div>


</div>