<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<form  class="form" layout="column">
   
    <div class="card" layout="column">
      <div class="card-header position-sticky sticky-top" style="margin:2%;background-color:rgb(255, 255, 255);top: -25px;">
        <h2 style="float: left; margin-top: 10px;">Agregar Elemento</h2>
        <button mat-button class=" btn btn-danger" (click)="cerrar()" >
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-button class=" btn btn-success" (click)="agregar()" >
            <mat-icon>done</mat-icon>
        </button>
      </div>
      <div class="card-body">
        <!---Cuenta Contable-->
        <mat-form-field>
          <input matInput [(ngModel)]="nombre" name="nombre"  maxlength="50" placeholder="Nombre "autocomplete="off"  />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="simbolo" name="simbolo" maxlength="3" placeholder="Simbolo "autocomplete="off"  />
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="peso" name="peso" maxlength="4" max="9999" min="0.00001" type="number" placeholder="Peso "autocomplete="off"  />
        </mat-form-field>
      </div>
    </div>
  </form>
