<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


<div class="d-flex justify-content-center align-items-center" *ngIf="preloaderTime">

    <img src="../../../../assets/utils/loading.gif" alt="Pikachu andando">
  
  </div>
<div class="body" *ngIf="!preloaderTime">
<br>
<div class="footer">
    <h1 style="margin-left: 2%;">VideoJuegos Disponibles</h1>
    <mat-form-field style="margin-left: 5%;">
        <input matInput [(ngModel)]="Nombrefiltrer" (keyup)="applyFilter()" placeholder="Filtrar por nombre"> 
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectGenero">
        <mat-select placeholder="Genero" [(ngModel)]="SelectionGene" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let gen of GenerosList" value="{{gen.genId}}">
                {{gen.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectPlata">
        <mat-select placeholder="Plataformas" [(ngModel)]="SelectionPlata" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let pla of PlataformasList" value="{{pla.platId}}">
                {{pla.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button  (click)="clearFilter()" style="margin-left: 2%;" >
        <mat-icon style="color: black;">clear_all</mat-icon>
    </button> 

    
</div>
<mat-grid-list cols="5" rowHeight="250px" >
    <mat-grid-tile class="grilla" *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1" >

        <div class="card" style="
        height: 100%; width: 80%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        cursor: pointer;
        border:  black;
        border-radius: 10px;
        background-color:rgb(144, 39, 39);
        margin-bottom: 3%;
        
        "
        (click)="DetalleModal(tile)">

            
                <img class="portada" src="../../../../assets/PortadasVj/{{tile.img}}" style="
                width: 80%;
                height: 65%;
                margin-left: 5%;
                margin-top: 4%;" >
                <br>
                <div class="descrip" style="text-align: center;">
                    {{tile.nombre}}
                    <br>
                    {{tile.precio|euros}} 
                </div>
                
        </div>
       
      
      
    </mat-grid-tile>
  </mat-grid-list>

</div>