


<div class="d-flex justify-content-center align-items-center" style="margin-top: 2%;" *ngIf="preloaderTime">

    <img src="../../../../assets/utils/loading.gif" alt="Pikachu andando">
  
  </div>
<div class="body" style="margin-bottom: 5%;display: flex;flex-direction: column;
" *ngIf="!preloaderTime">
<br>
<div class="footer">
    <h1 style="margin-left: 2%;">VideoJuegos Disponibles</h1>
    <mat-form-field style="margin-left: 5%;">
        <input name="focus" matInput [(ngModel)]="Nombrefiltrer" (keyup)="applyFilter()" placeholder="Filtrar por nombre"> 
    </mat-form-field>

    <mat-form-field style="margin-left: 3%;" class="SelectGenero">
        <mat-select placeholder="Genero" [(ngModel)]="SelectionGene" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let gen of GenerosList" value="{{gen.genId}}">
                {{gen.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field style="margin-left: 3%;" class="SelectPlata">
        <mat-select placeholder="Plataformas" [(ngModel)]="SelectionPlata" (selectionChange)="applyFilter()" >
            <mat-option *ngFor="let pla of PlataformasList" value="{{pla.platId}}">
                {{pla.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button  (click)="clearFilter()" style="margin-left: 2%;" >
        <mat-icon style="color: black;">clear_all</mat-icon>
    </button> 

    
</div>
<div class="grillaDiv"  style="margin: 2%;width: 90%;">
<mat-grid-list  cols="5" rowHeight="250px"  gutterSize="10px">

    <mat-grid-tile  class="grilla" *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1" style="margin-bottom: 8%;" >

        <div class="card" 
        style="  
        height: 100%; 
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
        border: solid  black;
        border-radius: 10px;
        word-wrap: break-word;
         
        "
        
        (click)="DetalleModal(tile)">

            
                <img class="portada" src="../../../../assets/PortadasVj/{{tile.img}}" style="
                width: 70%;
                height: 60%;
                margin-top: 2%;
                "    >
                <br>
                <div class="descrip" style="text-align: center;">

                    <p>{{tile.nombre}}</p>
                    
                   <p>{{tile.precio|euros}} </p>
                </div>
                
        </div>
       
      
      
    </mat-grid-tile>
</mat-grid-list>
</div>
</div>