.body{
   
    display: flex;
    margin-bottom: 10%
}

.footer{
    margin-top: 0.5%;
    margin-bottom: 2%;
    
}
.SelectGenero{
    max-width: 10%;
}

.SelectPlata{
    max-width: 14%;
}

.grillaDiv{
    margin: 2%;
}
.grilla{
    display: table-column;
    margin-bottom: 5%;
    margin-top: 3%;
 
}

.card:hover{
    opacity: 80%;
    
}

