/* You can add global styles to this file, and also import other style files */


@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root{
    --temaPrincipal:rgb(111, 51, 151);
    --sidenavColor:rgb(21, 179, 92);
    --backGroundtablas:f2f2f2
}